mixin sProcedure(data)
	// start sProcedure
	+b.SECTION.sProcedure.section#sProcedure&attributes(attributes)
		.container
			+b.section-title
				h2 Что нужно сделать?
			+e.row.row
				+e.col.col-lg-3
					+icon('curved-arrow-1')
					+e.item
						span 25&nbsp;января&nbsp;&minus; 14&nbsp;февраля
						b Зарегистрируйся <br> на&nbsp;хакатон
				+e.col.col-lg-3
					+icon('curved-arrow-2')
					+e.item
						span 25&nbsp;января&nbsp;&minus; 14&nbsp;февраля
						b Собери <br> команду
				+e.col.col-lg-3
					+icon('curved-arrow-3')
					+e.item
						span 25&nbsp;января&nbsp;&minus; 14&nbsp;февраля
						b Выбери <br> кейс
				+e.col.col-lg-3
					+e.item
						span 17&minus;19 февраля
						b Создай <br> решение
	// end sProcedure