mixin footer()
	+b.FOOTER.footer.section
		+img('img/page-bg-img-4.png')
		.container
			+e.row.row
				.col-md-auto
					a(href="https://storage.yandexcloud.net/mp-hackathon/policy.pdf" target="_blank") Политика конфиденциальности
				.col-md-auto
					a(href="https://storage.yandexcloud.net/mp-hackathon/polozhenie.pdf" target="_blank") Положение о&nbsp;Конкурсе
				.col-md-auto
					a(href="#sFAQ") FAQ
