mixin footer()
	+b.FOOTER.footer.section
		+img('img/page-bg-img-4.png')
		.container
			+e.row.row
				.col-md-auto
					a(href="#") Политика конфиденциальности
				.col-md-auto
					a(href="#") Положение о&nbsp;Конкурсе
				.col-md-auto
					a(href="#sFAQ") FAQ
