@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	font-size:math.div(20,10)*1rem;
	width: math.div(19,20)*1em;
}
.icon-arrow-right {
	font-size:math.div(20,10)*1rem;
	width: math.div(19,20)*1em;
}
.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-chevron-down {
	font-size:math.div(11,10)*1rem;
	width: math.div(18,11)*1em;
}
.icon-coin {
	font-size:math.div(40,10)*1rem;
	width: math.div(40,40)*1em;
}
.icon-curved-arrow-1 {
	font-size:math.div(32,10)*1rem;
	width: math.div(94,32)*1em;
}
.icon-curved-arrow-2 {
	font-size:math.div(33,10)*1rem;
	width: math.div(95,33)*1em;
}
.icon-curved-arrow-3 {
	font-size:math.div(33,10)*1rem;
	width: math.div(95,33)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-luggage {
	font-size:math.div(40,10)*1rem;
	width: math.div(40,40)*1em;
}
.icon-sCases-project {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-sCases-video {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-sContact-logo {
	font-size:math.div(22,10)*1rem;
	width: math.div(147,22)*1em;
}
.icon-sContact-win {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-star-first {
	font-size:math.div(84,10)*1rem;
	width: math.div(85,84)*1em;
}
.icon-star-second {
	font-size:math.div(58,10)*1rem;
	width: math.div(58,58)*1em;
}
.icon-star-third {
	font-size:math.div(37,10)*1rem;
	width: math.div(37,37)*1em;
}
.icon-telegram {
	font-size:math.div(20,10)*1rem;
	width: math.div(23,20)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
