mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+img('img/page-bg-img-1.png')
		.container 
			+e.text-wrap.text-wrap
				+e.head &lt;{ Кодим вместе 17&nbsp;&mdash; 19&nbsp;февраля! }&gt;

				+e.img-wrap
					+pic("head-img.png")
				+e.video-wrap
					//- <iframe src="" title="Fireplace at Night 4K 🔥 Cozy Fireplace (12 HOURS). Fireplace video with Burning Logs &amp; Fire Sounds" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				h1 Молодёжный бит
				p Всероссийский хакатон <br> для талантливых IT-специалистов
				ul
					li Соревнуйся за&nbsp;призовой фонд в&nbsp;1&nbsp;миллион рублей и&nbsp;захватывающее путешествие по&nbsp;России
					li Участвуй онлайн из&nbsp;любой точки страны
					li Приходи кодить на&nbsp;офлайн-площадку
					//- li Регистрируйся до&nbsp;14&nbsp;февраля
				+e.btn.btn.btn-success.disabled(href="https://lk.youthbit.ru/") Регистрация завершена
	// end headerBlock