mixin sBestTeams(data)
	// start sBestTeams
	+b.sBestTeams.section#sBestTeams&attributes(attributes)
		.container
			.tabs
				script
					include script.js
				.tabs__caption
					.tabs__btn.active
						span Дашборд
					.tabs__btn
						span Цифровой помощник
					.tabs__btn
						span Онбординг
					.tabs__btn
						span Молодёжный туризм
				.tabs__wrap
					.tabs__content#onboarding.active
						.tabs__content-wrap
							.tabs__title
								h4 Дашборд
								p Разработай дашборд – инструмент анализа и визуализации данных,поступающих от субъектов молодёжной политики России
							+e.list
								h4 Победители
								+e.row.row.first
							+e.list
								h4 Шортлист
								+e.row.row.other
					.tabs__content#tourism
						.tabs__content-wrap
							.tabs__title
								h4 Цифровой помощник
								p Создай онлайн-помощника по&nbsp;заполнению грантовой заявки для молодёжи России
							+e.list
								h4 Победители
								+e.row.row.first
							+e.list
								h4 Шортлист
								+e.row.row.other
					.tabs__content#dashboard
						.tabs__content-wrap
							.tabs__title
								h4 Онбординг
								p Разработай digital-систему для онбординга новых сотрудниковс элементами геймификации
							+e.list
								h4 Победители
								+e.row.row.first
									 
							+e.list
								h4 Шортлист
								+e.row.row.other
								 
					.tabs__content#assistant
						.tabs__content-wrap
							.tabs__title
								h4 Молодёжный туризм
								p Разработай мобильное приложение для сайта студтуризм.рф
							+e.list
								h4 Победители
								+e.row.row.first
							+e.list
								h4 Шортлист
								+e.row.row.other
	// end sBestTeams