mixin sBestTeams(data)
	// start sBestTeams
	+b.sBestTeams.section#sBestTeams&attributes(attributes)
		.container
			.tabs
				.tabs__caption
					.tabs__btn.active
						span Онбординг
					.tabs__btn
						span Дашборд
					.tabs__btn
						span Цифровой помощник
					.tabs__btn
						span Молодёжный туризм
				.tabs__wrap
					.tabs__content.active
						.tabs__content-wrap
							.tabs__title
								h4 Онбординг
								p Создай онлайн-помощника по&nbsp;заполнению грантовой заявки для молодёжи России
					.tabs__content
						.tabs__content-wrap
							.tabs__title
								h4 Онбординг
								p Создай онлайн-помощника по&nbsp;заполнению грантовой заявки для молодёжи России
					.tabs__content
						.tabs__content-wrap
							.tabs__title
								h4 Онбординг
								p Создай онлайн-помощника по&nbsp;заполнению грантовой заявки для молодёжи России
					.tabs__content
						.tabs__content-wrap
							.tabs__title
								h4 Онбординг
								p Создай онлайн-помощника по&nbsp;заполнению грантовой заявки для молодёжи России
					
	// end sBestTeams