mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-xl-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col-auto.d-xl-none
					+menu-toggle()
				.col
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
							+mnu()
							+soc().d-xl-none
							+e.btn.btn.btn-success.d-xl-none(href="https://lk.youthbit.ru/") Регистрация/Войти
				.col-auto.d-none.d-xl-flex
					+soc()
				.col-auto.d-none.d-xl-inline-block
					+e.btn.btn.btn-success(href="https://lk.youthbit.ru/") Регистрация/Войти
				.col-auto.order-xl-first
					+e.logo(href="#")
						+img('https://storage.yandexcloud.net/mp-hackathon/mb-logo.png')
	// end top-nav