mixin sPrize(data)
	// start sPrize
	+b.SECTION.sPrize.section#sPrize&attributes(attributes)
		+img('img/page-bg-img-2.png')
		.container
			+b.section-title
				h2 Призовой фонд
			+e.amount 
				b 1&nbsp;000&nbsp;000 руб
				span 3&nbsp;призовых места в&nbsp;каждом кейсе
			+e.row.row
				.col-lg-4
					+e.item
						+e.sum.d-none.d-lg-block 100&nbsp;000 руб
						+e.position--first
							span 1&nbsp;место
							+icon('star-first')
							+e.sum.d-lg-none 100&nbsp;000 руб
				.col-lg-4.order-lg-first
					+e.item
						+e.sum.d-none.d-lg-block 85&nbsp;000 руб
						+e.position--second
							span 2&nbsp;место
							+icon('star-second')
							+e.sum.d-lg-none 85&nbsp;000 руб
				.col-lg-4
					+e.item
						+e.sum.d-none.d-lg-block 65&nbsp;000 руб
						+e.position--third
							span 3&nbsp;место
							+icon('star-third')
							+e.sum.d-lg-none 65&nbsp;000 руб

	// end sPrize